In [85]:
import pandas as pd
import numpy as np
df = pd.read_excel('F:\Data\En_In.xls', skiprows = 16, nrows = 228)
df.drop(df.columns[[0, 1]], axis = 1, inplace = True)
df

,Unnamed: 2,Energy Supply,Energy Supply per capita,Renewable Electricity Production
0,NaN,Petajoules,Gigajoules,%
1,Afghanistan,321,10,78.66928
2,Albania,102,35,100
3,Algeria,1959,51,0.55101
4,American Samoa,...,...,0.641026
...,...,...,...,...
223,Viet Nam,2554,28,45.32152
224,Wallis and Futuna Islands,0,26,0
225,Yemen,344,13,0
226,Zambia,400,26,99.71467
227,Zimbabwe,480,32,52.53612

In [86]:
df.rename(columns = {'Unnamed: 2' : 'Country', 'Energy Supply per capita' : 'Energy Supply per Capita', 
                     'Renewable Electricity Production' : '%Renewable'}, inplace = True)
df

,Country,Energy Supply,Energy Supply per Capita,%Renewable
0,NaN,Petajoules,Gigajoules,%
1,Afghanistan,321,10,78.66928
2,Albania,102,35,100
3,Algeria,1959,51,0.55101
4,American Samoa,...,...,0.641026
...,...,...,...,...
223,Viet Nam,2554,28,45.32152
224,Wallis and Futuna Islands,0,26,0
225,Yemen,344,13,0
226,Zambia,400,26,99.71467
227,Zimbabwe,480,32,52.53612

In [87]:
df.loc[1:, 'Energy Supply':] = df.loc[1:, 'Energy Supply':].apply(pd.to_numeric, errors = 'coerce')
df.loc[1:,'Energy Supply'] *= 1000000
df

,Country,Energy Supply,Energy Supply per Capita,%Renewable
0,NaN,Petajoules,Gigajoules,%
1,Afghanistan,321000000.0,10.0,78.66928
2,Albania,102000000.0,35.0,100.0
3,Algeria,1959000000.0,51.0,0.55101
4,American Samoa,NaN,NaN,0.641026
...,...,...,...,...
223,Viet Nam,2554000000.0,28.0,45.32152
224,Wallis and Futuna Islands,0.0,26.0,0.0
225,Yemen,344000000.0,13.0,0.0
226,Zambia,400000000.0,26.0,99.71467
227,Zimbabwe,480000000.0,32.0,52.53612

In [88]:
df['Country'] = df['Country'].str.replace('Republic of Korea', 'South Korea')
df['Country'] = df['Country'].str.replace('United States of America', 'United States')
df['Country'] = df['Country'].str.replace('United Kingdom of Great Britain and Northern Ireland', 
                                          'United Kingdom')
df['Country'] = df['Country'].str.replace('China, Hong Kong Special Administrative Region', 'Hong Kong')
df['Country'] = df['Country'].str.replace('\s*\([^()]*\)', ' ', regex = True).str.strip()
df['Country'] = df['Country'].str.replace('\d+', ' ', regex = True)
df.loc[df['Country'].isin(['American Samoa', 'South Korea', 'Bolivia'])]

            Country  Energy Supply Energy Supply per Capita %Renewable
4    American Samoa            NaN                      NaN   0.641026
25          Bolivia    336000000.0                     32.0   31.47712
165     South Korea  11007000000.0                    221.0   2.279353

In [89]:
gdp = pd.read_csv('F:\Data\gpd.csv', skiprows = 4)
gdp.drop(gdp.iloc[:, 4:50], axis = 1, inplace = True)
gdp.rename(columns = {'Country Name' : 'Country'}, inplace = True)
gdp.loc[:, 'Country'].replace({"Korea, Rep.": "South Korea","Iran, Islamic Rep.": "Iran",
                               "Hong Kong SAR, China": "Hong Kong"}, inplace = True)
gdp

,Country,Country Code,Indicator Name,Indicator Code,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,2.467704e+09,NaN,NaN,NaN,NaN,NaN
1,Andorra,AND,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,4.018196e+09,4.021331e+09,3.675728e+09,3.535389e+09,3.346317e+09,3.185605e+09,3.129538e+09,3.127550e+09,NaN,NaN
2,Afghanistan,AFG,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,1.030523e+10,1.172119e+10,1.214448e+10,1.469733e+10,1.593680e+10,1.691113e+10,1.935220e+10,1.973134e+10,1.999032e+10,2.029415e+10
3,Angola,AGO,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,5.581103e+10,6.842044e+10,7.787420e+10,7.975320e+10,8.247091e+10,8.570262e+10,9.012096e+10,9.626143e+10,1.008863e+11,1.039106e+11
4,Albania,ALB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,9.771760e+09,1.034829e+10,1.112752e+10,1.150029e+10,1.192695e+10,1.223109e+10,1.240477e+10,1.254247e+10,1.279331e+10,1.312082e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,"Yemen, Rep.",YEM,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,2.672565e+10,2.761787e+10,2.872656e+10,2.991436e+10,3.090675e+10,2.624342e+10,2.689160e+10,2.800914e+10,NaN,NaN
260,South Africa,ZAF,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,3.402852e+11,3.585261e+11,3.699668e+11,3.642764e+11,3.753494e+11,3.874074e+11,3.960071e+11,4.047682e+11,4.110369e+11,4.163117e+11
261,"Congo, Dem. Rep.",COD,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,1.650894e+10,1.754232e+10,1.863448e+10,1.916651e+10,2.052329e+10,2.193213e+10,2.350200e+10,2.550050e+10,2.778776e+10,2.970961e+10
262,Zambia,ZMB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,1.440569e+10,1.560892e+10,1.682234e+10,1.837342e+10,2.026555e+10,2.140358e+10,2.302438e+10,2.420595e+10,2.542227e+10,2.624127e+10
263,Zimbabwe,ZWE,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,1.006276e+10,9.695130e+09,7.982103e+09,8.459783e+09,9.422161e+09,1.054391e+10,1.165789e+10,1.218064e+10,1.264939e+10,1.278517e+10

In [90]:
gdp.head(1)

,Country,Country Code,Indicator Name,Indicator Code,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,2.467704e+09,NaN,NaN,NaN,NaN,NaN

In [91]:
association = pd.read_excel('F:\Data\scimagojr.xlsx')
association

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,127050,126767,597237,411683,4.70,138
1,2,United States,96661,94747,792274,265436,8.20,230
2,3,Japan,30504,30287,223024,61554,7.31,134
3,4,United Kingdom,20944,20357,206091,37874,9.84,139
4,5,Russian Federation,18534,18301,34266,12422,1.85,57
...,...,...,...,...,...,...,...,...
186,187,Guyana,1,1,0,0,0.00,0
187,188,Christmas Island,1,1,0,0,0.00,0
188,189,Reunion,1,1,2,1,2.00,1
189,190,Saint Lucia,1,1,0,0,0.00,0
190,191,Mauritania,1,1,1,0,1.00,1

In [92]:
result = pd.merge(association, df, how='left')
result = pd.merge(result, gdp.drop(gdp.iloc[:, 1:4], axis = 1))
result = result.set_index('Country')
result.drop(result.loc[result['Rank'] > 15].index, inplace = True)
result.head(3)

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,%Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,NaN,NaN,NaN,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
United States,2,96661,94747,792274,265436,8.20,230,NaN,NaN,NaN,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
Japan,3,30504,30287,223024,61554,7.31,134,NaN,NaN,NaN,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12

In [93]:
result.shape

(15, 20)

In [94]:
def task_eight():
    avggpd = result.iloc[:, 10:].mean(axis = 1)
    avggpd.sort_values(ascending = False, inplace = True)
    avggpd.name = "avggpd"
    return avggpd
task_eight()

Country
United States         1.536434e+13
China                 6.348609e+12
Japan                 5.542208e+12
Germany               3.493025e+12
France                2.681725e+12
United Kingdom        2.487907e+12
Brazil                2.189794e+12
Italy                 2.120175e+12
India                 1.769297e+12
Canada                1.660647e+12
Russian Federation    1.565459e+12
Spain                 1.418078e+12
Australia             1.164043e+12
South Korea           1.106715e+12
Iran                  4.441558e+11
Name: avggpd, dtype: float64

In [95]:
def task_nine():
    five_country = task_eight().index.to_list()
    topFive = result.loc[five_country[4]]
    return(topFive.name, topFive[19] - topFive[10])
task_nine()

('France', 153345695364.24023)

In [96]:
def task_ten():
    MaxRenew = result['%Renewable'].max()
    value = pd.to_numeric(result['%Renewable']).idxmax()
    return(value, MaxRenew)
task_ten()

('Brazil', 69.64803)

In [97]:
def task_eleven():
    result['Population'] = result.apply(lambda x: x['Energy Supply'] / x['Energy Supply per Capita'], axis = 1)
    pop = result['Population'].astype(float).nlargest(6)
    PeopleIndex = pop.index.to_list()
    return(PeopleIndex[5], pop[5])
task_eleven()

('South Korea', 49805429.864253394)

In [98]:
def task_twelve():
    result['Populat']=result['Energy Supply'] / result['Energy Supply per Capita']
    result['Citable Docs per Capita'] = result['Citable documents'] / result['Populat']
    return result['Citable Docs per Capita'].astype('float64').corr(result['Energy Supply per Capita'].astype('float64'))
task_twelve()

0.888421364234179

In [99]:
def task_thirteen():
    mediana = result["%Renewable"].median()
    result['Value Median'] = result.apply(lambda x: 1 if x["%Renewable"] > mediana else 0, axis=1)
    result.sort_values('Rank', ascending=True, inplace= True)
    return result['Value Median'].rename().astype(int)
task_thirteen()

Country
China                 0
United States         0
Japan                 0
United Kingdom        0
Russian Federation    0
Canada                1
Germany               1
India                 0
France                0
South Korea           0
Italy                 0
Spain                 0
Iran                  0
Australia             0
Brazil                1
dtype: int32

In [100]:
def task_fourteen():
    ContinentDict = {'China':'Asia',
    'United States':'North America',
    'Japan':'Asia',
    'United Kingdom':'Europe',
    'Russian Federation':'Europe',
    'Canada':'North America',
    'Germany':'Europe',
    'India':'Asia',
    'France':'Europe',
    'South Korea':'Asia',
    'Italy':'Europe',
    'Spain':'Europe',
    'Iran':'Asia',
    'Australia':'Australia',
    'Brazil':'South America'}
    ContinentDf = pd.DataFrame(columns=['size', 'sum', 'mean', 'std'])
    result['Population'] = result['Energy Supply'] / result['Energy Supply per Capita']
    for key, value in result.groupby(ContinentDict):
        ContinentDf.loc[key] = [len(value), value['Population'].sum(),value['Population'].mean(),value['Population'].std()]
    return ContinentDf
task_fourteen()

               size           sum          mean           std
Asia            5.0  1.403612e+09  4.678706e+08  7.006261e+08
Australia       1.0  0.000000e+00           NaN           NaN
Europe          6.0  2.238697e+08  1.119348e+08  4.463987e+07
North America   2.0  3.523986e+07  3.523986e+07           NaN
South America   1.0  2.059153e+08  2.059153e+08           NaN

In [101]:
import plotly.express as px 

result["2015"] = result["2015"].replace({pd.np.nan:0})
fig = px.scatter(result, x = 'Rank', y = '%Renewable', 
                 size = "2015", text = result.index, hover_name = result.index, color = "Population", size_max = 60)
fig.show()

C:\Users\shinn\AppData\Local\Temp\ipykernel_8380\2776264988.py:3: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.